#body {
  background-image: url('https://images6.alphacoders.com/431/thumb-1920-431019.jpg');
}

#title {
  font-size: 3vw;
  margin: 3vw 0 2vw 0.3vw;
  text-shadow: white 0 0 15px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitle {
  font-size: 2vw;
  margin: 0;
  text-shadow: white 0 0 15px;
}

#cont_scores {
  margin: 0 0 0 3vw;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

#scores_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5vw;
}

.btn_style {
  background-color: white;
  height: 2vw;
  width: fit-content;
  font-size: 1vw;
  padding: 0.5vw;
  display: flex;
  align-items: center;
  border: black solid 2px;
  border-radius: 5px;
  box-shadow: rgb(0, 110, 255) 0 0 15px;
}

.btn_style:active {
  background-color: red;
  color: rgb(5, 84, 255);
  font-weight: 600;
}

#cont_add {
  margin: 0 25vw 0 0;
  display: flex;
  flex-direction: column;
}

#scores {
  border: 3px black solid;
  width: 100%;
  height: 32vw;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: red 0 0 45px;
}

#add_subtitle {
  margin-bottom: 1.5vw;
}

form {
  display: flex;
  flex-direction: column;
}

.input_style {
  border: solid black 3px;
  height: 2vw;
  margin-bottom: 1.3vw;
  font-size: 1vw;
  padding: 0 0 0 0.5vw;
  border-radius: 5px;
  box-shadow: rgb(0, 110, 255) 0 0 15px;
}

.input_style::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 300;
}

#warning {
  color: red;
  font-size: 0.7vw;
  margin: 0;
  width: fit-content;
  margin-right: 1vw;
}

#submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.hide {
  display: none;
}

.grey {
  background-color: rgb(179, 209, 255);
}

.red {
  background-color: rgb(255, 179, 179);
}

.score_list {
  font-size: 1.4vw;
  padding: 0.7vw 0 0.7vw 0;
}
